.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.styleCard {
  width: 200px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardImg {
  height: 100px;
  width: 100px;
}

.inp{
  text-align: center;
}

input{
  width: 50%;
}
